body{
    background-color: rgba(7, 7, 170, 0.986);
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

header>nav{
    
    text-align: center;
    max-width: 10rem;
    padding-bottom: 10%;
}
nav>a{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    margin: 1rem;
    border: 2px solid black;
    
}
.gallery{
background-color: white;
color: black;
margin: 0 0 1rem;
padding: 1rem;
text-align: center;
border-top: 4px solid black;
border-bottom: 4px solid black;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about{
    background-color: white;
    color: black;
    margin: 0 0 1rem;
    padding: 1rem;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    }
.contact{
    color: white;
    text-align: center;
}
.gallerydescription{
    display: inline-block;
    
}
.gallerydescription>img{
    max-width: 100%;
    align-items: center;
}
.workexperience, .education, .achievements{
    text-align: center;
    background-color: white;
    border-width: .75rem;
    border-color: black;
    border-radius: .5rem .5rem .5rem .5rem;
    border-style: inset;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
}
p{
    color: black;
    text-align: center;
}
.description>p{
    color: white;
}
.gallerydescription>p{
    color: white;
    text-align: center;
}
h2{
    flex-basis:  100%;
}
.contactdescription>p{
    color: white;
}
.workexperience, .education, .achievements{
    max-width: 30rem;
   
}
@media (min-width:700px){
    .workexperience, .education, .achievements{
        padding: 1rem;
        display: inline-block;
        margin: .5rem;
        vertical-align: top;
        justify-content: center;
    }
    .description>p{
        max-width: 40rem;
        text-align: center;
        
    }
   
    main{
        display: flex;
        justify-content: center;
       
       
    } 
    header{
        display: flex;
        flex-wrap: wrap;
        
    }
    .aboutdescription{
        display: flex;
        flex-wrap: wrap;
    }
    .description{
        display: flex;
        align-items: center;
        padding: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
}